{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Confirmar Eliminación</title>
    <link rel="stylesheet" href="{% static 'css/estilo_eliminar_bache.css' %}">
</head>
<body>
    <div class="edit-container">
        <h1>Confirmar Eliminación</h1>

        <p>¿Estás seguro de que quieres eliminar el bache: 
           <strong>"{{ bache.descripcion }}"</strong>?
        </p>

        <p>Esta acción no se puede deshacer.</p>

        <div class="button-group">
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn-cancelar">Sí, eliminar</button>
            </form>

            <a href="{% url 'mapa_baches' %}" class="btn-guardar">Cancelar</a>
        </div>
    </div>
</body>
</html>
#